.sidebar {
  float: right;
  width: 20%;
  background-color: lavender;
  border: 3px solid maroon;
  padding: 5px;
  margin: 8px;

}
.column {
  width: 40%;
  float: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
img {
  padding: 10px;
}
