.sidebar {
  float: right;
  width: 20%;
  background-color: lavender;
  border: 3px solid maroon;
  padding: 5px;
  margin: 8px;

}
.column {
  width: 30%;
  float: left;
  background-color: yellow;
  padding: 15px;

}
.column2 {
  width: 40%;
  float: left;
  background-color: green;
  padding: 15px;
}
.left {
  float: left;
}
.right {
  float: right;
}
img {
  padding: 10px;


}
